.container {
    max-width: 80%;
    width: 100%;
    height: 100vh;
    display: flex;
    place-items: center;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.texto{
width: 40%;

}
p{
    font-size: 5em;
font-weight: bold;
}
.imagen{

width: 60%;
}

.btn {
    font-size: 1.7em;
    padding: 10px 50px;
    }